.wrapper.boss {
  --coffee-bkg: rgb(203, 238, 235);
  --can-color: rgb(41, 41, 41);
  --letter-color: rgb(245, 245, 245);
  --can-angle: -20deg;
  --can-width: 220px;
  --can-height: calc(var(--can-width) * 2.15);
  flex: 600px;
  position: relative;
  margin: 0;
  height: 600px;
  width: 750px;
  background-color: var(--coffee-bkg);
  overflow: hidden;
}
.wrapper.boss::before {
  content: "";
  bottom: -60px;
  left: calc(50% - 364px);
  height: 300px;
  width: 200px;
  background: radial-gradient(ellipse at center, var(--coffee-bkg) 0% 50%, rgba(0, 0, 0, 0) 0% 100%),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0% 45%,
      rgba(158, 61, 6, 0.7) 0% 60%,
      rgba(0, 0, 0, 0) 60% 100%
    ),
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0% 40%,
      rgba(129, 55, 6, 0.75) 0% 50%,
      rgba(0, 0, 0, 0) 50% 100%
    );
  background-position: 11% 15%, 10% 10%, 12% 20%;
  background-size: 600px 1250px, 600px 1000px, 600px 1000px;
  background-repeat: no-repeat;
}
.wrapper.boss::after {
  content: "";
  top: -25px;
  left: calc(50% - 283px);
  height: 600px;
  width: 600px;
  background: radial-gradient(
    ellipse at center,
    var(--coffee-bkg) 0% 25%,
    rgba(0, 0, 0, 0) 5% 100%
  );
  background-size: 550px 300px;
  background-position: -500% -0%;
  border-radius: 100%;
  transform: rotateZ(var(--can-angle));
}
.boss > .can {
  top: 165px;
  left: calc(50% - 220px);
  width: var(--can-height);
  height: var(--can-width);
  background-color: var(--can-color);
  transform: rotateZ(var(--can-angle));
}
.boss > .can::after,
.boss > .can::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.1) 100%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0% 15%,
      rgba(255, 255, 255, 0.35) 35% 45%,
      rgba(255, 255, 255, 0.1) 60%,
      rgba(0, 0, 0, 0.1) 75% 100%
    ),
    linear-gradient(
      to right,
      silver 0% 10px,
      rgba(0, 0, 0, 0) 10px calc(var(--can-height) - 10px),
      silver 0% 100%
    );
  background-size: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
}
.boss > .can::before {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0% 6%,
    rgb(235, 189, 63) 6% 13%,
    rgba(0, 0, 0, 0) 13% 100%
  );
  background-size: calc(var(--can-height) - 20px) 100%;
  background-position-x: center;
  background-repeat: no-repeat;
}
.boss > .can > .detail {
  bottom: 34px;
  right: 30px;
  border: var(--letter-color) solid 2px;
  width: 115px;
  height: auto;
  color: var(--letter-color);
  font-size: 16px;
  text-align: center;
}
.boss > .can > .detail::before {
  content: "COFFEE";
  font-family: sans-serif;
  top: 0px;
  right: 165%;
  width: calc(36px * 4);
  height: auto;
  font-size: 150%;
  text-align: center;
  color: var(--letter-color);
}
.boss > .can > .detail::after {
  content: "\1F60E";
  font-size: 65px;
  top: -75%;
  right: 125%;
  width: 54px;
  height: 54px;
}
.boss .letter {
  background-color: var(--letter-color);
  height: 135px;
  width: 25px;
}

/* == B == */
.boss .letter:nth-child(1) {
  top: 7%;
  left: 8%;
}

.boss .letter:nth-child(1)::after {
  content: "";
  bottom: 5%;
  left: 52%;
  height: 62px;
  width: 50px;
  background: linear-gradient(to right, var(--letter-color) 0% 26%, var(--can-color) 0% 100%);
  border-radius: 0 80% 90% 0;
}
.boss .letter:nth-child(1)::before {
  content: "";
  border-radius: 60px;
  top: 0;
  left: -50%;
  height: 65px;
  width: 90px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 30%, var(--letter-color) 0% 100%);
}
.boss .letter:nth-child(1) > .detail {
  top: 0;
  right: 70%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 50%, var(--can-color) 50% 100%);
  border-radius: 100%/20%;
}
.boss .letter:nth-child(1) > .detail::after {
  content: "";
  top: 5%;
  left: 125%;
  height: 50px;
  width: 175%;
  background: linear-gradient(to right, var(--letter-color) 0% 30%, var(--can-color) 0% 100%);
  border-radius: 0 80% 90% 0;
}
.boss .letter:nth-child(1) > .detail::before {
  content: "";
  height: 75px;
  width: 90px;
  left: 45%;
  bottom: 0;
  border-radius: 60px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 30%, var(--letter-color) 0% 100%);
}

/* == O == */
.boss .letter:nth-child(2) {
  border-radius: 90%/88%;
  top: 7%;
  left: 28%;
  width: 105px;
}
.boss .letter:nth-child(2)::after {
  height: 84%;
  width: 54%;
  content: "";
  top: 8%;
  left: 23%;
  background: radial-gradient(ellipse at center, var(--can-color) 0% 60%);
  border-radius: 90%/75%;
  background-position: center;
}
/* == Sx2 == */
.boss .letter:nth-child(3),
.boss .letter:nth-child(4) {
  width: 90px;
  top: 7%;
  background: radial-gradient(
      ellipse at center,
      var(--letter-color) 0% 60%,
      rgba(0, 0, 0, 0) 0% 100%
    ),
    radial-gradient(ellipse at center, var(--letter-color) 0% 60%, rgba(0, 0, 0, 0) 0% 100%),
    linear-gradient(
      145deg,
      var(--can-color) 0% 40%,
      rgba(255, 255, 255, 0) 0% 60%,
      var(--can-color) 0% 100%
    ),
    linear-gradient(
      24deg,
      rgba(0, 0, 0, 0) 0% 42%,
      var(--letter-color) 0% 58%,
      rgba(0, 0, 0, 0) 0% 100%
    );
  background-size: 105% 70%, 105% 70%, 100%, 100%;
  background-repeat: no-repeat;
  background-position: center 115%, center -15%, 0, 0;
}
.boss .letter:nth-child(3) {
  left: 53%;
}
.boss .letter:nth-child(4) {
  left: 75%;
}
.boss .letter:nth-child(3)::after,
.boss .letter:nth-child(4)::after {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
      26deg,
      rgba(0, 0, 0, 0) 0% 35%,
      var(--can-color) 0% 68%,
      rgba(0, 0, 0, 0) 0% 100%
    ),
    linear-gradient(
      26deg,
      rgba(0, 0, 0, 0) 0% 35%,
      var(--can-color) 0% 65%,
      rgba(0, 0, 0, 0) 0% 100%
    ),
    radial-gradient(ellipse at center, var(--can-color) 0% 40%, rgba(0, 0, 0, 0) 0% 100%),
    radial-gradient(ellipse at center, var(--can-color) 0% 40%, rgba(0, 0, 0, 0) 0% 100%),
    linear-gradient(
      50deg,
      rgba(0, 0, 0, 0) 0% 35%,
      var(--can-color) 0% 65%,
      rgba(0, 0, 0, 0) 0% 100%
    ),
    linear-gradient(
      50deg,
      rgba(0, 0, 0, 0) 0% 35%,
      var(--can-color) 0% 65%,
      rgba(0, 0, 0, 0) 0% 100%
    ),
    linear-gradient(200deg, rgba(0, 0, 0, 0) 0% 20%, var(--letter-color) 0% 100%),
    linear-gradient(200deg, var(--letter-color) 0% 80%, rgba(0, 0, 0, 0) 0% 100%);

  background-repeat: no-repeat;
  background-size: 60% 25%, 60% 35%, 85% 45%, 85% 48%, 45% 23%, 45% 23%, 32% 40%, 32% 40%;
  background-position: 95% 35%, 5% 68%, 80% 6%, 35% 97%, 96% 22%, 4% 78%, 92% 0%, 8% 100%;
}
